@font-face {
  font-family: SFDisplayRegular;
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SFDisplaySemibold;
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf);
}

.navbar {
  background-color: "#FFF1EC";

  .navbar-brand {
    font-family: SFDisplaySemibold;
    font-size: 30px;
    margin-left: 20px;
  }

  .nav-link {
    font-family: SFDisplayRegular;
    font-size: 22px;
    margin: 0 15px;
    color: #222222;
  }
}

.sign-in,
.sign-up {

  .form-label,
  .form-text,
  .form-check-label,
  .btn {
    font-family: SFDisplayRegular;
  }

  .loginContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-family: SFDisplaySemibold;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .loginForm {
    width: 400px;
    box-shadow: 0 0 10px #72636360;
    border-radius: 20px;
    padding: 20px;
  }
}

.sign-up-teacher {

  .form-label,
  .form-text,
  .form-check-label,
  .btn {
    font-family: SFDisplayRegular;
  }

  .loginForm {
    width: 400px;
    box-shadow: 0 0 10px #72636360;
    border-radius: 20px;
    padding: 20px;
  }

  .loginContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-family: SFDisplaySemibold;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .subheader {
    font-family: SFDisplayRegular;
    font-size: 22px;
  }

  #emailHelp {
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .option {
    font-family: SFDisplayRegular;
  }

  .ageText {
    margin-top: 10px
  }

  #subjectHelp {
    font-family: SFDisplayRegular;
    line-height: 1.2;
  }

  .subjectSpan {
    color: #222222
  }
}