@font-face {
  font-family: SFDisplayLight;
  src: url(../assets/fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: SFDisplayRegular;
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SFDisplaySemibold;
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 71px;
}

.navbar {
  background-color: "#FFF1EC";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;


  .navbar-brand {
    font-family: SFDisplaySemibold;
    font-size: 30px;
    margin-left: 20px;
  }

  .nav-link {
    font-family: SFDisplayRegular;
    font-size: 22px;
    margin: 0 15px;
    color: #222222;
  }
}

.sign-in,
.sign-up {

  overflow-x: hidden;

  .form-label,
  .form-text,
  .form-check-label,
  .btn {
    font-family: SFDisplayRegular;
  }

  .loginContainer {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    align-items: center;
  }

  .heading {
    font-family: SFDisplaySemibold;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .loginForm {
    width: 400px;
    box-shadow: 0 0 10px #72636360;
    border-radius: 20px;
    padding: 20px;
  }

  .alert-success {
    font-family: SFDisplayRegular;
    color: #222222;
    margin-top: 10px;
    width: fit-content
  }

  .alert-danger {
    font-family: SFDisplayRegular;
    color: #180d1c;
    margin-top: 10px;
    width: fit-content
  }
}

.sign-up-teacher {

  overflow-x: hidden;

  .form-label,
  .form-text,
  .form-check-label,
  .btn {
    font-family: SFDisplayRegular;
  }

  .loginForm {
    width: 400px;
    box-shadow: 0 0 10px #72636360;
    border-radius: 20px;
    padding: 20px;
  }

  .loginContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    align-items: center;
  }

  .heading {
    font-family: SFDisplaySemibold;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .subheader {
    font-family: SFDisplayRegular;
    font-size: 22px;
  }

  #emailHelp {
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .option {
    font-family: SFDisplayRegular;
  }

  .ageText {
    margin-top: 10px
  }

  #subjectHelp {
    font-family: SFDisplayRegular;
    line-height: 1.2;
  }

  .subjectSpan {
    color: #222222
  }

  .alert-success {
    font-family: SFDisplayRegular;
    color: #222222;
    margin-top: 10px;
    width: fit-content
  }
}


.tutor {

  .tutorCards {
    button {
      background-color: #FFFFFF00;
      border-width: 0;
    }
  }

  .tutorContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 0 50px;

  }

  .heading {
    text-align: center;
    font-family: SFDisplaySemibold;
    color: #52154E;
    font-size: 50px;
  }

  .subheader {
    text-align: center;
    font-family: SFDisplayLight;
    color: #222222;
    font-size: 20px;
  }

  .card-filter {
    padding: 20px;
    border-width: 0;
    box-shadow: 0 0 10px #72636360;

    .filterLabel {
      font-family: SFDisplayRegular;
      font-size: 20px;
      margin-bottom: 3px;

    }

    .btn {
      font-family: SFDisplayRegular;
      width: min-content;
    }

    .option {
      font-family: SFDisplayRegular;
    }

    select {
      margin-bottom: 1rem;
    }
  }

  .filterInfo {
    font-family: SFDisplayRegular;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 8px;
  }

  .card-tutor {
    padding: 20px;
    font-family: SFDisplayRegular;
    border: #6d60605f 1px solid;
    border-radius: 20px;
    position: relative;

    .card-title {
      font-family: SFDisplaySemibold;
      margin-bottom: 5px;
    }

    .bio {
      margin-bottom: 10px;
    }

    .subjects {
      margin-bottom: 0px;
      text-align: left;

      span {
        font-weight: bold;
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 20px;
      border-width: 0;
      background-color: #FFFFFF;
    }

    .popupSignin {
      .close {
        position: absolute;
        top: 15px;
        right: 20px;
        border-width: 0;
        background-color: #FFFFFF;
      }

      .links {
        .card-link {
          font-style: normal;
          text-decoration: none !important;
        }
      }
    }


  }

  .popupMenu,
  .popupSignin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-170px, -200px);
    margin-left: auto;
    margin-right: auto;
    z-index: 70;
    background-color: #FFFFFF;
    /* Need a specific value to work */

    body {
      position: relative;
    }

    .card-tutor {
      background-color: #FFFFFF;
      width: 400px;
      padding: 20px;
      font-family: SFDisplayRegular;
      border: #6d60605f 1px solid;
      border-radius: 20px;
      z-index: 70;

      .card-title {
        font-family: SFDisplaySemibold;
        font-size: 30px;
        margin-bottom: 5px;
      }

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }

      .bio {
        margin-bottom: 10px;
      }

      .subjects {
        margin-bottom: 0px;

        span {
          font-weight: bold;
        }
      }

      a {
        margin-top: 10px;
        font-family: SFDisplaySemibold;
      }

      .btn {
        margin-bottom: 10px;
      }
    }
  }

  .popUpBackground {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 60;
    inset: 0;
    background-color: #676666dc;
  }
}

.account {
  h1 {
    font-family: SFDisplaySemibold;
    margin-top: 30px;
  }


  .desc {
    font-family: SFDisplayLight;
  }

  .status {
    font-family: SFDisplaySemibold;
    margin-bottom: 20px;
  }


  .accountImage {
    margin-bottom: 40px;
  }

  .btn {
    font-family: SFDisplayRegular;
    font-size: 20px;
    margin-bottom: 25px;
  }

  #button1 {
    background-color: #52154E
  }

  #button2 {
    background-color: #656839;
  }

  #button3 {
    background-color: #52154E
  }
}